# Ignorar la carpeta logs
logs/

# Ignorar el archivo token.txt dentro de la carpeta files
files/token.txt

# Ignorar todos los archivos de pycache en cualquier nivel
__pycache__/
*.py[cod]
**/__pycache__/
**/*.py[cod]